<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="shortcut icon" href="https://www.djangoproject.com/favicon.ico">
  <title>Login</title>

  <!-- PicoCSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>
<body class="container">
  <nav>
  <ul>
    <li><strong>Projeto</strong></li>
  </ul>
  <ul>
    <li><a href="{% url 'registration' %}">Cadastre-se</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>
    <li>
      <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Sair</button>
      </form>
    </li>
  </ul>
</nav>

  {% block content %}{% endblock content %}
</body>
</html>