{% extends "base.html" %}

{% block content %}
  <h1>Login</h1>

  <form action="." method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Login</button>
  </form>
{% endblock content %}