{% extends "base.html" %}

{% block content %}
  <h1>Cadastre-se</h1>

  <form action="." method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">
      Cadastrar
    </button>

  </form>
{% endblock content %}